OJAX3-Book-ch11-JAXB2.0/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Geoffrey Nutter (MTV Networks) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstName" type="xs:string"/>
				<xs:element name="lastName" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
