OJAX3-Book-ch11-JAXB2.0/person1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.example.com/person" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/person">
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstName" type="xs:string"/>
				<xs:element name="lastName" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
