OJAX3-Book-Ch08-StAX/contacts.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!ELEMENT address (line+, city, state, zip)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT contact (name, address)>
<!ELEMENT contacts (contact+)>
<!ELEMENT first (#PCDATA)>
<!ELEMENT middle (#PCDATA)>
<!ELEMENT last (#PCDATA)>
<!ELEMENT line (#PCDATA)>
<!ELEMENT name (first, middle?, last)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT zip (#PCDATA)>
