Chapter6-JAXB2.0/schemagen/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="publisher" type="xs:string" minOccurs="0"/>
        <xs:element name="edition" type="xs:string" minOccurs="0"/>
        <xs:element name="title" type="xs:string" minOccurs="0"/>
        <xs:element name="author" type="xs:string" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="journal" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

